@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #f2f5f6;
    --contraction-background-color: #e9eced;

    --primary-theme: #494af8;
    --secondary-theme: #000000;

    --general-hover: #f8f8ff;
    --primary-theme-hover: #3a3af0;
    --secondary-theme-hover: #333333;
    --selected-color: #000000;

    --heading-color: #363c4f;
    --paragraph-color: #6b7483;
    --theme-heading-color: #ffffff;
    --theme-paragraph-color: #ffffffb3;

    --border: #0000001a;
    --radius: 0.5rem;

    --card: #ffffff;

    --sidebar-background: #494af8;
    --sidebar-foreground: #ffffff;

    --sidebar-accent: #000000;
    --sidebar-accent-foreground: #ffffff;
  }

  .dark {
    --background-color: #f2f5f6;
    --contraction-background-color: #e9eced;

    --primary-theme: #000000;
    --secondary-theme: #494af8;

    --general-hover: #f8f8ff;
    --primary-theme-hover: #333333;
    --secondary-theme-hover: #3a3af0;
    --selected-color: #494af8;

    --heading-color: #363c4f;
    --paragraph-color: #6b7483;
    --theme-heading-color: #ffffff;
    --theme-paragraph-color: #ffffffb3;

    --border: #0000001a;
    --radius: 0.5rem;

    --card: #ffffff;

    --sidebar-background: #000000;
    --sidebar-foreground: #ffffff;

    --sidebar-accent: #494af8;
    --sidebar-accent-foreground: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--paragraph-color);
  font-family: var(--font-jetbrains-mono), monospace;
  text-rendering: optimizeLegibility;
  border: var(--border);
}
