.faq-wrapper {
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;



  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.1;
    background: linear-gradient(180deg, #494af8 0%, rgba(73, 74, 248, 0) 100%);
    bottom: 0;
    z-index: -1;
  }
  h3 {
    color: var(--dark);
    margin-top: 30px;
  }

  p {
    color: var(--blue);
    padding-bottom: 40px;
  }

  .faq-search {
    width: 76.1%;
    max-width: 1096px;
    // width: 1096px;
    height: 60px;
    margin: 49px 0 29px;
    padding: 17px 20px 18px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-icon:hover {
      cursor: pointer;
      filter: brightness(0) saturate(100%) invert(26%) sepia(35%)
        saturate(5506%) hue-rotate(234deg) brightness(96%) contrast(102%);
    }

    input {
      height: 100%;
      width: 100%;
      border: none;
      font-family: "JetBrains Mono";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      color: var(--dark);
    }
    input::placeholder {
      font-family: "JetBrains Mono";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      color: var(--dark);
    }
  }
}

.faq-question-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.1;
    background: linear-gradient(180deg, #494af8 0%, rgba(73, 74, 248, 0) 100%);
    bottom: 0;
    z-index: -1;
  }
  .qna-section {
    margin-top: 40px;
    width: 76.1%;
    max-width: 1096px;
    h3 {
      color: var(--dark);
    }
    h4 {
      color: var(--blue);
      margin-top: 30px;
    }
    hr {
      width: 100%;
      max-width: 1096px;
      height: 1px;
      position: relative;
      top: 30px;
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 150px;
    }
    .no-faq-found {
      margin-top: 30px;
      width: 100%;
      max-width: 1096px;
      height: 200px;
      padding-top: 62px;
      padding-bottom: 61px;
      border-radius: 10px;
      border: solid 1px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin: 0px;
      }
      p {
        max-width: 80%;
        padding: 0px 30px;
        text-align: center;
      }
    }
  }
  .faq-title {
    display: none;
  }
}

// accordion

.accordion {
  width: 100%;
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-button {
  width: 100%;
  height: 54px;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  align-items: center;

  .title {
    padding-left: 9px;
  }
  .title-selecte {
    color: var(--blue);
  }

  .custom-collapse-icon {
    transition: transform 0.3s ease; /* Add transition for animation */
  }
  .custom-collapse-icon.active {
    filter: brightness(0) saturate(100%) invert(26%) sepia(35%) saturate(5506%)
      hue-rotate(234deg) brightness(96%) contrast(102%);
    transform: rotate(90deg); /* Rotate icon when active */
  }
}

.accordion-button:hover h6 {
  color: var(--blue);
}

.accordion-content {

  color: var(--blue);
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0px 14px;
  p {
    color: var(--dark);
    text-align: left;
  }

  .custom-list-faq {
    list-style-type: none;
    // margin-top: 17.8px;
    padding-bottom: 0px;
    #paragraph_style{
      margin-left: 20px;
      margin-bottom: 10px;
    }
    li {
      position: relative;
      padding-left: 20px;
      font-family: "JetBrains Mono";
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      color: var(--dark);

      &::before {
        content: "•";
        font-size: 15px;
        color: var(--dark);
        position: absolute;
        left: 0.5px;
        top: 9.4px;
        transform: translateY(-50%);
      }
    }
  }
}

.accordion-content.open {
  max-height: 622px;
  padding: 14px;
  color: var(--blue);
  overflow: hidden;
  image {
    filter: brightness(0) saturate(100%) invert(26%) sepia(35%) saturate(5506%)
      hue-rotate(234deg) brightness(96%) contrast(102%);
  }

  .custom-list-faq {
    list-style-type: none;
    padding-bottom: 0px;
    li {
      position: relative;
      padding-left: 20px;
      font-family: "JetBrains Mono";
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      color: var(--dark);

      &::before {
        content: "•";
        font-size: 15px;
        color: var(--dark);
        position: absolute;
        left: 0.5px;
        top: 9.4px;
        transform: translateY(-50%);
      }
    }
  }
}

// ======

.faq-contactus {
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .faq-blur {
    position: absolute;
    width: 554px;
    height: 554px;
    top: -120px;
    object-fit: fill;
  }

  .faq-cs-card {
    position: relative;
    height: 350px;
    width: 76.1%;
    max-width: 1096px;
    flex-grow: 0;
    margin-bottom: 140px;
    padding: 117px 302px 67px 303px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .msg-icon {
      position: absolute;
      top: -70px;
    }
    h4 {
      color: var(--blue);
      text-align: center;
    }
    p {
      color: var(--dark);
      text-align: center;
    }
  }
}
.blur-view {
  position: absolute;
  top: -35px;
  height: 444px;
  width: 444px;
  background-color: var(--blue);
  border-radius: 50%;
  opacity: 20%;
  filter: blur(50px);
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.684);
}

.faq-contact a {
  color: var(--blue); /* Example to make text color white */
}
.faq-contact a:hover {
  color: var(--blue); /* Example to make text color white */
  text-decoration: underline;
  color: var(--blue);
}

@media screen and (max-width: 1437px) {
  .faq-contactus{
    .faq-cs-card{
      padding: 100px 200px 67px 200px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .faq-wrapper {
    .faq-icon {
      width: 80px;
      height: 80px;
    }
    .faq-search {
      width: 90.7%;
      margin: 35px 0 30px;
      .search-icon{
        width: 24px;
        height: 24px;
        border: solid 3px transparent;
      }
    }
    h3 {
      font-size: 24px;
    }
    p {
      width: 61.9%;
      text-align: center;
      font-weight: 500;
      line-height: 18.23px;
      text-align: center;
    }
  }
  .faq-contactus {
    .faq-cs-card {
      padding: 52px 0px 0px 0px;
      justify-content: center;
      flex-direction: column;
      height: 330px;
      width: 91.1%;
      .msg-icon {
        width: 100px;
        height: 100px;
      }
      h4 {
        width: 57.9%;
        text-align: center;
      }
      p {
        margin-top: 21px;
        margin-bottom: 32px;
        width: 80%;
        max-width: 270px;
        text-align: center;
        font-weight: 500;
      }
      button {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  .faq-question-section {
    .qna-section {
      width: 100%;
      padding-left: 32px;
      padding-right: 28px;
      h3{
        font-size: 24px;
        line-height: 31.25px;
        max-width: 329px;
        width: 100%;
      }
      .no-faq-found{
        height: auto;
        p{
          word-break: break-all;
          margin-top: 20px;
        }
      }
    }
    .faq-title {
      display: inline;
      font-size: 24px;
      max-width: 329px;
      width: 90%;
      line-height: 31.25px;
    }
  }
  .blur-view {
    width: 100%;
    border: solid 2px;
  }
  .accordion-content {
    .title {
      border: solid 3px;
    }
    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 17.16px;
      text-align: left;
      // max-width: 353px;
      width: 100%;
    }
    .custom-list-faq {
      #paragraph_style{
        width: 100%;
        margin-left: 0px;
      }
      li {
        font-size: 13px;
        font-weight: 500;
        line-height: 17.16px;
        text-align: left;
      }
    }
  }
  .accordion-content.open{
    max-height: 1260px;
    .custom-list-faq {
      li {
        font-size: 13px;
        font-weight: 500;
        line-height: 17.16px;
        text-align: left;
      }
    }
  }
  .accordion-button {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
  }
  .accordion-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
  }
  input::placeholder {
    font-size: 13px !important;
    font-weight: 500;
    opacity: 30%;
    color: var(--dark);
  }
  
}

@media screen and (max-width: 350px){
  .accordion-content.open {
    max-height: 1260px;
  }
}