:root {
  --black: #000000;
  --white: #ffffff;
  --dark: #363c4f;
  --blue: #494af8;
  --dark-gray: #555555;
  --light-gray: #cccccc;
  --gradient: linear-gradient(180deg, #494af8 0%, rgba(73, 74, 248, 0) 100%);
  --mid-gray: #f7f7f7;
}


$Mobile_Size: 768px;
$mobile-breakpoint-small: 480px;