/* HEADER STYLING */
.header-box-shadow {
  box-shadow: 0 0 1.75rem rgba(0, 0, 0, 0.07);
}

/* SIDEBAR STYLING */
.\[\&\>svg\]\:size-4 > svg {
  height: 1.4rem;
  width: 1.4rem;
}

/* CARD STYLING */
.card-box-showdow-02 {
  box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.1);
}
.card-box-showdow-02:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-filter-button-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.button-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}

/* FLAG STYLING */
.flag-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
